@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    src:local("PT Sans"),
    url(../fonts/PTSans.woff) format("woff"),
    url(../fonts/PTSans.woff2) format("woff2");
}
@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    src:local("PT Sans"),
    url(../fonts/PTSans-Bold.woff) format("woff"),
    url(../fonts/PTSans-Bold.woff2) format("woff2");
}

:root {
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-blue: #81b3d2;
    --basic-grey: #888888;
    --add-grey: #eeeeee;
    --basic-brown: #766357;
    --special-brown-hover:#604E43;
    --special-brown-active:#503E33;
    --special-blue-hover:#669EC0;
    --special-blue-active:#5496BD;
    --special-disabled: #6A6A6A;
    --shadow-color: rgba(0, 1, 1, 0.2);
    --special-grey: #333333;
    --rating-grey:#666666;
    --basic-line:#E5E5E5;
    --text-active: rgba(255, 255, 255, 0.3);
    --link-active: rgba(0, 0, 0, 0.3);
    --up-triangle: #cacaca;
}
.page {
  height: 100%;
}
.page-body {
    width: 1200px;
    margin: 0;
    padding: 0 40px;
    background-color: var(--basic-grey);
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    text-transform: uppercase;
    min-height: 100%;
    
}
.container {
    margin: 0 auto;
    background-color: var(--basic-white);
    padding: 0;
    text-align: center;
    box-shadow: 0px 5px 15px var(--shadow-color);
    display: grid;
    grid-template-rows: min-content 1fr min-content ;
}


.site-navigation {
  list-style: none;
  text-align: left;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.site-navigation li:nth-of-type(2) {
  flex-grow: 3;
}
.site-navigation li:nth-of-type(1) {
  flex-grow: 1;
}
.site-navigation li:nth-of-type(3) {
  flex-grow: 1;
}
.site-navigation a {
    text-decoration: none;
    color: var(--basic-black);
    font-weight: 700;
}
.site-navigation a:hover, .site-navigation a:focus {
    color: var(--basic-blue);
}
.site-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.main-header {
    background-color: var(--basic-blue);
    background-image: url("../img/mask.svg"), url("../img/index-bg.jpg");
    background-size: auto, 1200px 509px;
    background-position: 0 509px, 0 55px;
    background-repeat: no-repeat;
    display: grid;
    height: 564px;
    
}
.main-header-logo {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 571px;
}
.welcome-intro {
  justify-self: center;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
}
.main-navigation {
    background-color: var(--basic-white);
    outline: 2px solid rgba(0, 255, 0, 0.7);
    outline-offset: -2px;
    height: 56px;
    padding: 0 73px;
}
.intro {
    font-size: 21px;
    font-weight: 700;
}
.features-list, .add-feature-list {
    padding: 0;
    margin: 0;
}
.feature-item {
  line-height: 21px;
  list-style: none;
  background-color: var(--add-grey);
  
}
.main-feature-item {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  display: flex;
  flex-wrap: wrap;
}

.add-feature-list, .add-feature-list li {
  background-color: var(--basic-white); 
  color: black;
  margin: 0;
  
}
.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px 330px 256px 256px;
}
.feature-description {
  min-width: 400px;
  margin: auto;
}
.feature-item:first-child {
  grid-column: 1/4;
  grid-row: 1/2;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
}
.feature-item:nth-child(2) {
  grid-column: 1/4;
  grid-row: 3/4;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
}
.feature-item:nth-child(3) {
  padding-top: 47px;
  grid-column: 1/2;
  grid-row: 4/5;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
}
.feature-item:nth-child(4) {
  padding-top: 47px;
  grid-column: 2/3;
  grid-row: 4/5;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
}
.feature-item:nth-child(5) {
  padding-top: 47px;
  grid-column: 3/4;
  grid-row: 4/5;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
}
.add-feature-list {
  display: flex;
  list-style: none;
}
.add-feature-item {
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
  width:400px;
  height: 330px;
}
.feature-item h3, .feature-item h4 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}
.accomodation::before {
  content: url("../img/icon-accomodation.svg");
  display: block;
  padding-top: 60px;
}
.meals::before {
  content: url("../img/icon-meals.svg");
  display: block;
  padding-top: 60px;
}
.souvenirs::before {
  content: url("../img/icon-souvenirs.svg");
  display: block;
  padding-top: 60px;
}
.search h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 58px;
}
.search p {
  line-height: 24px;
}
.main-button {
  font-weight: 700;
  font-size: 21px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-family: inherit;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  width: 568px;
  height: 86px;
  margin-top: 24px;
}
.main-button:hover, .main-button:focus {
  background-color: var(--special-brown-hover);
  color: var(--basic-white);
  border: none;
}
.main-button:active {
  background-color: var(--special-brown-active);
  color: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
}

.main-footer {
  padding-top: 1px;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
}
.footer-contacts {
  font-weight: 700;
  font-size: 21px;
  background-color: var(--basic-white);
  opacity: 0.9;
  margin-top: -120px;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr ;
  grid-template-rows: 120px;
  justify-content: center;
  padding: 0 73px;
  vertical-align: middle;  
}
.contacts {
  width: 327px;
  margin: 0;
  vertical-align: middle;
  justify-self: end;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  text-align: center;
}
.footer-contacts.catalog {
  margin-top: 0;
}
.footer-phone {
  text-decoration: none;
  color: var(--basic-black);
  
}
.social {
  width: 400px;
  justify-self: center;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.social-button {
  display: block;
  text-decoration: none;
  width: 46px;
  height: 48px;  
  background-color: var(--basic-blue);
  margin-right: 6px;
  text-align: center;
  
}
.social-button:hover, .social-button:focus {
  background-color: var(--special-blue-hover);
}
.social-button:active {
  background-color: var(--special-blue-active);
}
.social-button.twitter:active, .social-button.facebook:active, .social-button.youtube:active {
  fill-opacity: 0.3;
}

.social li {
  list-style: none;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  width: 327px;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
  justify-self: start;
}

.copyright a {
  content: url("../img/logo-htmlacademy.svg");
    
}
.copyright a:hover {
  content: url("../img/logo-htmlacademy-hover.svg");
}
.copyright a:active {
  content: url("../img/logo-htmlacademy-active.svg");
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*catalog*/
.catalog-header {
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
  padding: 0 73px;
  background-color: var(--basic-white);
  display: grid;
}
.catalog-content, .content {
  background-color: var(--basic-white);
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
}
.catalog-content {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
}
.filter {
  background-color: var(--basic-blue);
  background: url("../img/filter-bg.jpg") no-repeat;
  
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
}
.form-filter {
  display: flex;
  margin: 0 73px; 
}
.filter-facilities, .filter-type, .filter-cost {
  border: none;
  text-align: left;
    
}
.filter-facilities ul, .filter-type ul, .filter-cost ul {
  list-style: none;
  padding-left: 0;
  line-height: 21px;
  color: var(--basic-white);
}
.filter-facilities legend, .filter-type legend, .filter-cost legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
}
.checkbox {
  display: none;
}

.checkbox+label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  vertical-align: top;
  background: url("../img/checkbox-off.svg") no-repeat;
  border-radius: 2px;
  margin-right: 16px;
}
.checkbox:checked+label::before {
  background: url("../img/checkbox-on.svg"); 
}
.checkbox:disabled+label::before {
  background: url("../img/checkbox-off-disabled.svg");
}
.checkbox:checked:disabled+label::before {
  background: url("../img/checkbox-on-disabled.svg");
}
.cost-range {
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  width: 224px;
  height: 36px;
  color: var(--basic-white);
  line-height: 21px;
}
.input-cost {
  font: inherit;
  color: var(--basic-white);
  line-height: 21px;
  border: none;
  width: 58px;
  background-color: transparent;
}
.filter-button {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  text-transform: uppercase;
  width: 137px;
  height: 36px;
  outline: none;
  justify-self: center;
}
.filter-button:hover, .filter-button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.site-navigation-current a, .site-navigation-current a:hover, .site-navigation-current a:active {
  color: var(--basic-brown); 
}
.sorting {
  padding: 29px 73px 31px;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sorting-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sorting-buttons li {
  padding: 0;
  align-items: center;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
}
.sorting-buttons button {
  border: none;
  background: transparent;
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--link-active);
  border-bottom: 2px dotted var(--basic-blue);
  padding: 0;
  margin: 0;
  
}
.sorting-buttons button:disabled {
  color: var(--basic-blue);
  border: none;
}
.sorting-buttons button:hover, .sorting-buttons button:focus {
  color: var(--basic-blue);
  outline: none;
}
.sorting-buttons button:active {
  color: var(--basic-black);
  border-bottom:none;
}
.buttons-up-down {
  display: flex;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
  justify-content: space-around;
}
.sorting-ascending {
  cursor: pointer;
  width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 11px solid var(--up-triangle);
}
.sorting-descending {
  cursor: pointer;
  width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 11px solid var(--basic-blue);
}

.sorting-ascending:disabled {
  border-bottom: 11px solid var(--up-triangle);
}
.sorting-ascending:hover {
  border-bottom: 11px solid var(--basic-black);
}
.sorting-ascending:active {
  border-bottom: 11px solid var(--basic-blue);
}
.sorting-descending {
  border-top: 11px solid var(--basic-blue);
}
.sorting-descending:hover {
  border-top: 11px solid var(--basic-black);
}
.sorting-descending:active {
  border-top: 11px solid var(--basic-blue);
}
.sorting input[type="number"], .sorting label {
  color: var(--basic-black);
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  border: none;
}
.result {
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
}
.result-list {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}
.result-item-name {
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-black);
}
.item-info h3 {
  padding: 0;
  margin: 0;
}
.result-item-name:hover, .result-item:focus {
  color: var(--basic-blue);
}
.result-item-name:active {
  color: var(--link-active);
}

.result-list span {
  line-height: 21px;
  color: var(--special-grey);
}
.result-item {
  border-top: 1px solid var(--basic-line);
  display: grid;
  grid-template-columns: min-content 1fr min-content ;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 30px 73px;
}
.item-picture {
  grid-column: 1/2;
  grid-row: 1/4;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
  margin-right: 29px;
  margin-top: 5px;
  
  
}
.item-info {
  grid-column: 2/3;
  grid-row: 1/4;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
}
.stars {
  color: var(--basic-white);
  grid-column: 3/4;
  grid-row: 1/2;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
  justify-self: end;
  display: block;
  background: url(../img/star.svg) space ;
  background-position: bottom;
  height: 22px;
}

.result-item:last-child {
  border-bottom: 1px solid var(--basic-line);
}
.rating {
  color: var(--rating-grey);
  display: block;
  border: none;
  background-color: var(--basic-grey);
  width: 110px;
  height: 27px;
  line-height: 21px;
  grid-column: 3/4;
  grid-row: 3/4;
  outline: 2px solid rgba(0, 255, 0, 0.7);
  outline-offset: -2px;
  text-align: center;
  
}

.stars.stars-4 {
  width: 87px;
  color: transparent;
}
.stars.stars-3 {
  width: 64px;
  color: transparent;
}
.stars.stars-2 {
  width: 41px;
  color: transparent;
}
.item-price {
  display: flex;
  padding: 0;
  margin: 0; 
  margin-top: 5px;
  margin-bottom: 15px; 
}
.item-price span {
  margin-right: 5px;
  width: 110px ;
}
.list-buttons {
  display: flex;
  
}
.detailed {
  margin-right: 5px;
  width: 110px ;
  background-color: var(--basic-blue);
  text-decoration: none;
  color: var(--basic-white);
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  padding-top: 3px;
  
}
.detailed:hover, .detailed:focus {
  background-color: var(--special-blue-hover);
}
.detailed:active {
  background-color: var(--special-blue-active);
  color: var(--text-active);  
}

.reserve  {
  width: 142px;
  height: 27px;
  
  font-family: inherit;
  text-transform: uppercase;
  color: var(--basic-white);
  outline: none;
  line-height: 21px;
  font-weight: 700;
  border:none;
  background-color: var(--basic-brown);
}
.reserve:hover, .reserve:focus {
  background-color: var(--special-brown-hover);
}
.reserve:active {
  background-color: var(--special-brown-active);
  color: var(--text-active);  
  
}

/*бегунки*/
.min-range, .max-range {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 220px;
}
.min-range:focus, .max-range:focus {
  outline: none;
}
.min-range::-webkit-slider-runnable-track, .max-range::-webkit-slider-runnable-track {
  width: 220px;
  height: 2px;
  cursor: pointer;
  background: var(--basic-white);
}
.min-range::-webkit-slider-thumb, .max-range::-webkit-slider-thumb {
  box-shadow: 0px 2px 0px #ABABAB;
  height: 19px;
  width: 19px;
  border-radius: 9.5px;
  background-color: var(--basic-white);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
.min-range:focus::-webkit-slider-runnable-track, .max-range:focus::-webkit-slider-runnable-track {
  background: var(--basic-white);
}


.min-range::-moz-range-track, .max-range::-moz-range-track {
  width: 220px;
  height: 2px;
  cursor: pointer;
  background: var(--basic-white);
}
.min-range::-moz-range-thumb, .max-range::-moz-range-thumb {
  box-shadow: 0px 2px 0px #ABABAB;
  height: 19px;
  width: 19px;
  border-radius: 9.5px;
  background-color: var(--basic-white);
  cursor: pointer;
  margin-top: -8px;
}
input[type=range]::-ms-track {
  width: 220px;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--basic-white);
  border-color: transparent;
  border-width: 19px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--basic-white);
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: var(--text-active);
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 19px;
  width: 19px;
  border-radius: 8.5px;
  background: var(--basic-white);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--basic-white);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--text-active);
}