@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src:local("PT Sans"),
  url(../fonts/PTSans.woff) format("woff"),
  url(../fonts/PTSans.woff2) format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src:local("PT Sans"),
  url(../fonts/PTSans-Bold.woff) format("woff"),
  url(../fonts/PTSans-Bold.woff2) format("woff2");
}

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-blue: #81b3d2;
  --basic-grey: #F2F2F2;
  --add-grey: #eeeeee;
  --basic-brown: #766357;
  --special-brown-hover:#604E43;
  --special-brown-active:#503E33;
  --special-blue-hover:#669EC0;
  --special-blue-active:#5496BD;
  --special-disabled: #6A6A6A;
  --shadow-color: rgba(0, 1, 1, 0.2);
  --special-grey: #333333;
  --rating-grey:#666666;
  --basic-line:#E5E5E5;
  --text-active: rgba(255, 255, 255, 0.3);
  --link-active: rgba(0, 0, 0, 0.3);
  --up-triangle: #cacaca;
  --toggle: #ABABAB;
  --toggle-shadow: rgba(171, 171, 171, 0.3);
  --copyright-active: #BDBBBC;
}
.page {
  height: 100%;
}
.page-body {
  width: 1200px;
  margin: 0;
  padding: 0 40px;
  background-color: var(--basic-grey);
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
  min-height: 100%;
}
.container {
  margin: 0 auto;
  background-color: var(--basic-white);
  padding: 0;
  text-align: center;
  box-shadow: 0px 5px 15px var(--shadow-color);
  display: grid;
  grid-template-rows: min-content 1fr min-content ;
}
.site-navigation {
  list-style: none;
  text-align: left;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center; 
}
.site-navigation li {
  width: 263px;
}
.site-navigation li:nth-of-type(1), .site-navigation li:nth-of-type(2) {
  display: flex;
  justify-content: flex-start;
}
.site-navigation li:nth-of-type(3), .site-navigation li:nth-of-type(4) {
  display: flex;
  justify-content: flex-end;
}
.site-navigation a {
  text-decoration: none;
  color: var(--basic-black);
  font-weight: 700;
}
.site-navigation a:hover, .site-navigation a:focus {
  color: var(--basic-blue);
}
.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
.main-header {
  background-color: var(--basic-blue);
  background-image: url("../img/mask.svg"), url("../img/index-bg.jpg");
  background-size: auto, 1200px 509px;
  background-position: 0 509px, 0 55px;
  background-repeat: no-repeat;
  display: grid;
  height: 564px;    
}
.main-header-logo {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 571px;
}
.welcome-intro {
  justify-self: center;
}
.main-navigation {
  background-color: var(--basic-white);
  height: 56px;
  padding: 0 73px;
}
.intro {
  font-size: 21px;
  font-weight: 700;
}
.features-list, .add-feature-list {
  padding: 0;
  margin: 0;
}
.feature-item {
  line-height: 21px;
  list-style: none;
  background-color: var(--add-grey);
}
.main-feature-item {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  display: flex;
  flex-wrap: wrap;
}
.add-feature-list, .add-feature-list li {
  background-color: var(--basic-white); 
  color: var(--basic-black);
  margin: 0;
}
.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px 330px 256px 256px;
}
.feature-description {
  min-width: 400px;
  margin: auto;
}
.feature-item:first-child {
  grid-column: 1/4;
  grid-row: 1/2;
}
.feature-item:nth-child(2) {
  grid-column: 1/4;
  grid-row: 3/4; 
}
.feature-item:nth-child(3) {
  padding-top: 47px;
  grid-column: 1/2;
  grid-row: 4/5; 
}
.feature-item:nth-child(4) {
  padding-top: 47px;
  grid-column: 2/3;
  grid-row: 4/5;
}
.feature-item:nth-child(5) {
  padding-top: 47px;
  grid-column: 3/4;
  grid-row: 4/5;
}
.add-feature-list {
  display: flex;
  list-style: none;
}
.add-feature-item {
  
  width:400px;
  height: 330px;
}
.feature-item h3, .feature-item h4 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}
.accomodation::before {
  content: url("../img/icon-accomodation.svg");
  display: block;
  padding-top: 60px;
  padding-bottom: 29px;
}
.meals::before {
  content: url("../img/icon-meals.svg");
  display: block;
  padding-top: 60px;
  padding-bottom: 29px;
}
.souvenirs::before {
  content: url("../img/icon-souvenirs.svg");
  display: block;
  padding-top: 60px;
  padding-bottom: 29px;
}
.search h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 58px;
}
.search p {
  line-height: 24px;
}
.main-button {
  font-weight: 700;
  font-size: 21px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-family: inherit;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  width: 568px;
  height: 86px;
  margin-top: 24px;
}
.main-button:hover, .main-button:focus {
  background-color: var(--special-brown-hover);
  color: var(--basic-white);
  border: none;
}
.main-button:active {
  background-color: var(--special-brown-active);
  color: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
}
.main-footer {
  padding-top: 1px;
}
.footer-contacts {
  font-weight: 700;
  font-size: 21px;
  background-color: var(--basic-white);
  opacity: 0.9;
  margin-top: -120px;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr ;
  grid-template-rows: 120px;
  justify-content: center;
  padding: 0 73px;
  vertical-align: middle;  
}
.contacts {
  width: 327px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacts p {
  margin: 0;
  margin-bottom: 9px;
}
.footer-contacts.catalog {
  margin-top: 0;
}
.footer-phone {
  text-decoration: none;
  color: var(--basic-black);
}
.social {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-button {
  display: flex;
  text-decoration: none;
  width: 46px;
  height: 48px;  
  background-color: var(--basic-blue);
  margin-right: 6px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.social-button:hover, .social-button:focus {
  background-color: var(--special-blue-hover);
}
.social-button:active {
  background-color: var(--special-blue-active);
}
.social-button.twitter:active, .social-button.facebook:active, .social-button.youtube:active {
  fill-opacity: 0.3;
}
.social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  width: 327px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright-link path:hover, .copyright-link path:focus {
  fill: var(--basic-blue);
}

.copyright-link path:active {
  fill: var(--copyright-active);
}
.copyright svg {
  margin-left: 6px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*catalog*/
.catalog-header {
  padding: 0;
  background-color: var(--basic-white);
  display: grid;
}
.catalog-content, .content {
  background-color: var(--basic-white);
}
.catalog-content {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
}
.filter {
  background-color: var(--basic-blue);
  background: url("../img/filter-bg.jpg") no-repeat;
  padding: 0 73px;
  min-height: 217px;
}
.form-filter {
  margin-top: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filter-facilities, .filter-type, .filter-cost {
  border: none;
  text-align: left;
  padding: 0; 
  margin: 0;
}
.filter-facilities ul, .filter-type ul, .filter-cost ul {
  list-style: none;
  padding-left: 0;
  line-height: 21px;
  color: var(--basic-white);
  margin: 0;
  margin-top: 24px;
}
.filter-facilities legend, .filter-type legend, .filter-cost legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
}
.filter-facilities {
  flex-grow: 1;
}
.filter-type {
  flex-grow: 3;
}

.checkbox {
  display: none;
}

.checkbox+label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  vertical-align: top;
  background: url("../img/checkbox-off.svg") no-repeat;
  border-radius: 2px;
  margin-right: 16px;
  margin-bottom: 23px;
  margin-top: 0;
}
.checkbox:checked+label::before {
  background: url("../img/checkbox-on.svg"); 
}
.checkbox:disabled+label::before {
  background: url("../img/checkbox-off-disabled.svg");
}
.checkbox:checked:disabled+label::before {
  background: url("../img/checkbox-on-disabled.svg");
}
.cost-range {
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  width: 317px;
  height: 36px;
  color: var(--basic-white);
  line-height: 21px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-left: 62px;
  padding-right: 26px;
  box-sizing: border-box;
}
.cost-range svg {
  position: absolute;
  top: 5px;
  left: 150px;
}
.input-cost {
  font: inherit;
  color: var(--basic-white);
  line-height: 21px;
  border: none;
  width: 58px;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.range-filter {
  margin: 10px 0 0;
}
.range-controls {
  position: relative;
}
.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: var(--toggle);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  cursor: pointer;
}
.range-controls .toggle-max{
  left:160px;
}
.range-controls .scale {
  height: 2px;
  width: 316px;
  background-color: var(--text-active);
  margin-top: 20px;
}
.range-controls .bar {
  height: 2px;
  background-color: var(--basic-white);
  width: 80%;
}
.filter-button {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  text-transform: uppercase;
  width: 137px;
  height: 36px;
  outline: none;
  margin-top: 33px;
  margin-left: 85px;
}
.filter-button:hover, .filter-button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.site-navigation-current a, .site-navigation-current a:hover, .site-navigation-current a:active {
  color: var(--basic-brown); 
}
.sorting {
  padding: 0 73px;
  min-height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sorting-buttons {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 235px;
}
.sorting-buttons button {
  border: none;
  background: transparent;
  font: inherit;
  text-transform: uppercase;
  color: var(--link-active);
  border-bottom: 2px dotted var(--basic-blue);
  padding: 0;
  margin: 0;
}
.sorting span {
  font-size: 12px;
  line-height: 18px;
}
.sorting-buttons button:disabled {
  color: var(--basic-blue);
  border: none;
}
.sorting-buttons button:hover, .sorting-buttons button:focus {
  color: var(--basic-blue);
  outline: none;
}
.sorting-buttons button:active {
  color: var(--basic-black);
  border-bottom:none;
}
.buttons-up-down {
  display: flex;
  justify-content: flex-end;
  width: 528px;
}
.sorting-ascending {
  cursor: pointer;
  width: 0;
	height: 0;
  margin-right: 12px;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 11px solid var(--up-triangle);
}
.sorting-descending {
  cursor: pointer;
  width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 11px solid var(--basic-blue);
}
.sorting-ascending:disabled {
  border-bottom: 11px solid var(--up-triangle);
}
.sorting-ascending:hover {
  border-bottom: 11px solid var(--basic-black);
}
.sorting-ascending:active {
  border-bottom: 11px solid var(--basic-blue);
}
.sorting-descending {
  border-top: 11px solid var(--basic-blue);
}
.sorting-descending:hover {
  border-top: 11px solid var(--basic-black);
}
.sorting-descending:active {
  border-top: 11px solid var(--basic-blue);
}
.sorting-number, .sorting label {
  color: var(--basic-black);
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  border: none;
  padding: 0;
  margin: 0;
}
.sorting-number {
  width: 30px;
  padding-left: 10px;
  background-color: transparent;
}
.result-list {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}
.result-item-name {
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-black);
}
.item-info h3 {
  padding: 0;
  margin: 0;
}
.result-item-name:hover, .result-item:focus {
  color: var(--basic-blue);
}
.result-item-name:active {
  color: var(--link-active);
}
.result-list span {
  line-height: 21px;
  color: var(--special-grey);
}
.result-item {
  border-top: 1px solid var(--basic-line);
  display: grid;
  grid-template-columns: min-content 1fr min-content ;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 30px 73px;
}
.item-picture {
  grid-column: 1/2;
  grid-row: 1/4;
  margin-right: 29px;
  margin-top: 5px;
}
.item-info {
  grid-column: 2/3;
  grid-row: 1/4;
}
.stars {
  color: var(--basic-white);
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: end;
  display: block;
  background: url(../img/star.svg) space ;
  background-position: bottom;
  height: 22px;
}
.result-item:last-child {
  border-bottom: 1px solid var(--basic-line);
}
.rating {
  color: var(--rating-grey);
  display: block;
  border: none;
  box-sizing: border-box;
  background-color: var(--basic-grey);
  width: 110px;
  height: 27px;
  line-height: 21px;
  grid-column: 3/4;
  grid-row: 3/4;
  text-align: center;
  padding: 0;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stars.stars-4 {
  width: 87px;
  color: transparent;
}
.stars.stars-3 {
  width: 64px;
  color: transparent;
}
.stars.stars-2 {
  width: 41px;
  color: transparent;
}
.item-price {
  display: flex;
  padding: 0;
  margin: 0; 
  margin-top: 5px;
  margin-bottom: 15px; 
}
.item-price span {
  margin-right: 5px;
  width: 110px ;
}
.list-buttons {
  display: flex;
}
.detailed {
  margin-right: 5px;
  width: 110px ;
  background-color: var(--basic-blue);
  text-decoration: none;
  color: var(--basic-white);
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  padding-top: 3px;
}
.detailed:hover, .detailed:focus {
  background-color: var(--special-blue-hover);
}
.detailed:active {
  background-color: var(--special-blue-active);
  color: var(--text-active);  
}
.reserve  {
  width: 142px;
  height: 27px;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--basic-white);
  outline: none;
  line-height: 21px;
  font-weight: 700;
  border:none;
  background-color: var(--basic-brown);
}
.reserve:hover, .reserve:focus {
  background-color: var(--special-brown-hover);
}
.reserve:active {
  background-color: var(--special-brown-active);
  color: var(--text-active);  
}


